<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard </title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="static/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

        
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">



        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="catalog.html">Miraculous</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Dataset Discovery</div>
                            <a class="nav-link" href="/catalog">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Dataset Catalog 
                            </a>  
                            <a class="nav-link" href="/useful">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Dataset Usefulness
                            </a>                           
                            <a class="nav-link" href="/exhaustive">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Exhaustive Search 
                            </a>
                            <a class="nav-link" href="/ann">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Approximate Search 
                            </a>
                            <a class="nav-link" href="/optimized">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Optimized Search 
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Dataset</div>
                            <a class="nav-link" href="upload">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Upload 
                            </a>
                            <a class="nav-link" href="view">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                View 
                            </a>
                            <a class="nav-link" href="Registered_Data">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Dataset Records 
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        User
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>

                    
                            <!-- Header Image -->
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
                    <!-- Add the logo at the top of the form -->
                    <div class="text-center mb-4">
                        <img src="static/img/logo6.PNG" alt="Logo1" class="img-fluid" style="max-height: 100px;">
                    </div>
                    

                    
                    <div class="container-fluid px-4 centralised">
                    
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="card mb-4">
                                    <form method="post" onsubmit="read_data(event, '/dataset_catalog')">
                                        <div id="successMessage" class="alert alert-success d-none" role="alert">
                                            New catalog added! Redirecting to home page...
                                        </div>
                                        <div class="card-header">
                                            <i class="fas fa-chart-area me-1"></i>
                                            Dataset Record 
                                        </div>

                                        <div class="card-body">
                                            
                                            <div class="mb-3 row">
                                                <label for="dataset_id" class="col-sm-2 col-form-label">Dataset ID</label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="dataset_id" class="form-control" readonly />
                                                </div>
                                            </div>
                                        
                                            <!-- Dataset Name -->
                                            <div class="mb-3 row">
                                                <label for="dataset_name" class="col-sm-2 col-form-label">Dataset Name</label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="dataset_name" class="form-control" />
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3 row">
                                                <div class="mb-3 row">
                                                    <label for="dataset_date" class="col-sm-2 col-form-label">Creation Date<span class="text-danger">*</span></label>
                                                    <div class="col-sm-10">
                                                        <input id="dataset_date" class="form-control" type="datetime-local" required />
                                                    </div>
                                                </div>
                                                
                    
                                            <div class="mb-3 row">
                                                <label for="dataset_type" class="col-sm-2 col-form-label">Select Option</label>
                                                <div class="col-sm-10">
                                                    <select id="dataset_type" class="form-control">
                                                        <option value="">Select Option</option>
                                                        <optgroup label="Relational">
                                                            <option value="mysql">MySQL</option>
                                                            <option value="pgsql">PgSQL</option>
                                                            <option value="csv">CSV</option>
                                                        </optgroup>
                                                        <optgroup label="Document">
                                                            <option value="json">JSON</option>
                                                            <option value="mongodb">MongoDB</option>
                                                        </optgroup>
                                                        <optgroup label="Graph">
                                                            <option value="neo4j">NEO4J</option>
                                                        </optgroup>
                                                        <optgroup label="RDF">
                                                            <option value="rdf">RDF</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3 row">
                                                <label class="col-sm-2 col-form-label">Add Dataset</label>
                                                <div class="col-sm-10">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="addDataset" id="addDatasetYes" value="yes">
                                                        <label class="form-check-label" for="addDatasetYes">Yes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="addDataset" id="addDatasetNo" value="no" checked>
                                                        <label class="form-check-label" for="addDatasetNo">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3 row">
                                                <label for="dataset_url" class="col-sm-2 col-form-label">IP</label>
                                                <div class="col-sm-10">
                                                    <input id="dataset_url" class="form-control" type="text" placeholder="Protocol+IP address" disabled />
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3 row">
                                                <label for="dataset_path" class="col-sm-2 col-form-label">Path</label>
                                                <div class="col-sm-10">
                                                    <input id="dataset_path" class="form-control" type="text" placeholder="\directory" disabled />
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="dataset_username" class="col-sm-2 col-form-label">Username<span class="text-danger">*</span></label>
                                                <div class="col-sm-10">
                                                    <input id="dataset_username" class="form-control" type="text" placeholder="String" required />
                                                </div>
                                            </div>
                                            
                    
                                            <div class="mb-3 row">
                                                <label for="dataset_password" class="col-sm-2 col-form-label">Password <span class="text-danger">*</span></label>
                                                <div class="col-sm-10">
                                                    <input id="dataset_password" class="form-control" type="password" placeholder="********" required />
                                                </div>
                                            </div>
                                            
                                            
                                                 <!-- Metadata Section -->
                                                 <div class="mb-3 row align-items-center">
                                                    <!-- Metadata Label -->
                                                    <label for="metadataTable" class="col-sm-2 col-form-label">Metadata</label>
                                                
                                                    <!-- Metadata Table -->
                                                    <div class="col-sm-10">
                                                        <table id="metadataTable" style="border-collapse: collapse; width: 100%;">
                                                            <thead style="border-bottom: 1px solid #ddd;">
                                                                <tr>
                                                                    <th style="text-align: right;">Name</th>
                                                                    <th style="text-align: center;">:</th>
                                                                    <th style="text-align: left;">Value</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align: right;">
                                                                        <input type="text" class="form-control" placeholder="Enter name" style="border: none; box-shadow: none;" />
                                                                    </td>
                                                                    <td style="text-align: center;">:</td>
                                                                    <td>
                                                                        <input type="text" class="form-control" placeholder="Enter value" style="border: none; box-shadow: none;" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <button type="button" onclick="addRow()" class="btn btn-link mt-2">+ Add Row</button>
                                                    </div>
                                                </div>

                                            <!-- Register Button -->

    <div class="mb-3 text-center">
        <button type="button" id="registerButton" class="btn btn-primary">Register</button>
    </div>
                                    </form>
                                    <!-- Success Modal -->
                                    <div id="successModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000; display: flex; justify-content: center; align-items: center;">
                                        <div style="background: white; padding: 20px; border-radius: 10px; text-align: center; width: 300px;">
                                            <h4>Dataset Registered Successfully!</h4>
                                            <div class="mt-3">
                                                <button onclick="closeModal()" class="btn btn-secondary">OK</button>
                                                <button onclick="redirectToRecords()" class="btn btn-primary">Go to Records</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Miraculous 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="static/js/scripts.js"></script>
        <script src="static/js/datatables-simple-demo.js"></script>
        <!-- jQuery, Popper.js, and Bootstrap 4 JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script>
    // Set the current date and time as default
    document.addEventListener("DOMContentLoaded", function() {
        const datasetDate = document.getElementById("dataset_date");
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        
        // Format as "YYYY-MM-DDTHH:MM" for datetime-local input
        datasetDate.value = `${year}-${month}-${day}T${hours}:${minutes}`;
    });

    // Toggle fields based on the "Add Dataset" radio button selection
// Auto-generate a unique ID for the dataset
document.addEventListener("DOMContentLoaded", () => {
    function generateUniqueId() {
        const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        const randomLetter = letters.charAt(Math.floor(Math.random() * letters.length));
        const randomNumber = Math.floor(Math.random() * 100); // Random 2-digit number
        return randomLetter + randomNumber;
    }

    const datasetIdField = document.getElementById("dataset_id");
    if (datasetIdField) {
        datasetIdField.value = generateUniqueId(); // Set a unique ID when the page loads
    }
});

// Toggle fields based on the "Add Dataset" radio button selection
document.addEventListener("DOMContentLoaded", () => {
    const addDatasetYes = document.getElementById("addDatasetYes");
    const addDatasetNo = document.getElementById("addDatasetNo");
    const ipField = document.getElementById("dataset_url");
    const pathField = document.getElementById("dataset_path");

    function toggleFields() {
        const isYesSelected = addDatasetYes.checked;
        ipField.disabled = !isYesSelected;
        pathField.disabled = !isYesSelected;
        if (!isYesSelected) {
            ipField.value = ""; // Clear the input value
            pathField.value = ""; // Clear the input value
        }
    }

    if (addDatasetYes && addDatasetNo) {
        addDatasetYes.addEventListener("change", toggleFields);
        addDatasetNo.addEventListener("change", toggleFields);
        toggleFields(); // Set initial state
    }
});

document.getElementById("registerButton").addEventListener("click", async () => {
    const addDataset = document.querySelector('input[name="addDataset"]:checked').value;

    // Collect form data
    const dataset = {
        id: document.getElementById("dataset_id").value,
        name: document.getElementById("dataset_name").value,
        date: document.getElementById("dataset_date").value,
        type: document.getElementById("dataset_type").value,
        url: document.getElementById("dataset_url").value || "", // Handle empty fields
        path: document.getElementById("dataset_path").value || "", // Handle empty fields
        username: document.getElementById("dataset_username").value,
        password: document.getElementById("dataset_password").value,
        add_dataset: addDataset,
        metadata: {}
    };

    // Collect metadata
    const metadataTable = document.querySelector("#metadataTable tbody");
    metadataTable.querySelectorAll("tr").forEach((row) => {
        const name = row.querySelector("td:nth-child(1) input").value.trim();
        const value = row.querySelector("td:nth-child(3) input").value.trim();
        if (name && value) {
            dataset.metadata[name] = value;
        }
    });

    try {
        const response = await fetch("/dataset_catalog/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(dataset),
        });

        if (response.ok) {
            showModal(); // Show success modal
        } else {
            alert("Error registering dataset. Please try again.");
        }
    } catch (error) {
        console.error("Error:", error);
        alert("An unexpected error occurred. Please try again.");
    }
});


// Success Modal Functions
function showModal() {
    const modal = document.getElementById("successModal");
    modal.style.display = "flex"; // Show the modal
}

function closeModal() {
    const modal = document.getElementById("successModal");
    modal.style.display = "none"; // Hide the modal
    document.getElementById("datasetForm").reset(); // Clear the form
    document.getElementById("dataset_id").value = generateUniqueId(); // Regenerate ID
}

function redirectToRecords() {
    window.location.href = "/Registered_Data"; // Redirect to records page
}

</script>

    </body>
</html>
