<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<div class="text-center">
    <img src="static/img/logo6.PNG" alt="Header Image" class="img-fluid" id="logo1" style="width: 150px; height: auto;">
</div>

<body class="sb-nav-fixed">

    <!-- Top Navigation Bar -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="dashboard">Miraculous</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Dataset Discovery</div>
                        <a class="nav-link" href="/catalog">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Register Dataset  
                        </a>
                        <a class="nav-link" href="Registered_Data">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Dataset Catalog 
                        </a>
                        <a class="nav-link" href="/optimized">
                            <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                            Search Dataset
                        </a>
                        <a class="nav-link" href="/about">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                            About 
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    User
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dataset Registration</h1>
                    <div class="card mb-4">
                        <form id="datasetForm" method="post">
                            <div id="successMessage" class="alert alert-success d-none" role="alert">
                                New catalog added! Redirecting to the home page...
                            </div>
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i> Dataset Record
                            </div>
                            <div class="card-body">
                                <!-- Dataset ID -->
                                <div class="form-group row">
                                    <label for="dataset_id" class="col-sm-2 col-form-label">Dataset ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="dataset_id" class="form-control" readonly />
                                    </div>
                                </div>

                                <!-- Dataset Name -->
                                <div class="form-group row">
                                    <label for="dataset_name" class="col-sm-2 col-form-label">Dataset Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="dataset_name" class="form-control" placeholder="Enter dataset name" />
                                    </div>
                                </div>

                                <!-- Creation Date -->
                                <div class="form-group row">
                                    <label for="dataset_date" class="col-sm-2 col-form-label">Creation Date</label>
                                    <div class="col-sm-10">
                                        <input type="datetime-local" id="dataset_date" class="form-control" />
                                    </div>
                                </div>

                                <!-- Dataset Type -->
                                <div class="form-group row">
                                    <label for="dataset_type" class="col-sm-2 col-form-label">Dataset Type</label>
                                    <div class="col-sm-10">
                                        <select id="dataset_type" class="form-control">
                                            <option value="">Select Dataset Type</option>
                                            <optgroup label="Relational">
                                                <option value="mysql">MySQL</option>
                                                <option value="pgsql">PgSQL</option>
                                                <option value="csv">CSV</option>
                                            </optgroup>
                                            <optgroup label="Document">
                                                <option value="json">JSON</option>
                                                <option value="mongodb">MongoDB</option>
                                            </optgroup>
                                            <optgroup label="Graph">
                                                <option value="neo4j">Neo4j</option>
                                            </optgroup>
                                            <optgroup label="RDF">
                                                <option value="rdf">RDF</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <!-- Add Dataset -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Add Dataset</label>
                                    <div class="col-sm-10">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="addDataset" id="addDatasetYes" value="yes">
                                            <label class="form-check-label" for="addDatasetYes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="addDataset" id="addDatasetNo" value="no" checked>
                                            <label class="form-check-label" for="addDatasetNo">No</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- IP -->
                                <div class="form-group row">
                                    <label for="dataset_url" class="col-sm-2 col-form-label">IP</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="dataset_url" class="form-control" placeholder="Protocol+IP address" disabled />
                                    </div>
                                </div>

                                <!-- Path -->
                                <div class="form-group row">
                                    <label for="dataset_path" class="col-sm-2 col-form-label">Path</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="dataset_path" class="form-control" placeholder="/directory" disabled />
                                    </div>
                                </div>

                                <!-- Username -->
                                <div class="form-group row">
                                    <label for="dataset_username" class="col-sm-2 col-form-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="dataset_username" class="form-control" placeholder="Enter username" required />
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="form-group row">
                                    <label for="dataset_password" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" id="dataset_password" class="form-control" placeholder="Enter password" required />
                                    </div>
                                </div>

                                <!-- Metadata -->
                                <div class="form-group row">
                                    <label for="metadataTable" class="col-sm-2 col-form-label">Metadata</label>
                                    <div class="col-sm-10">
                                        <table id="metadataTable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="form-control" placeholder="Enter name"></td>
                                                    <td><input type="text" class="form-control" placeholder="Enter value"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" onclick="addRow()" class="btn btn-link">+ Add Row</button>
                                    </div>
                                </div>

                                <!-- Register Button -->
                                <div class="text-center">
                                    <button type="button" id="registerButton" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Miraculous 2024</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
    // Set the current date and time for the datetime-local input
    const datasetDate = document.getElementById("dataset_date");
    const now = new Date();
    const year = now.getFullYear();
    const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
    const day = String(now.getDate()).padStart(2, '0');
    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');

    // Format as "YYYY-MM-DDTHH:MM" for the datetime-local input
    datasetDate.value = `${year}-${month}-${day}T${hours}:${minutes}`;
});
        document.addEventListener("DOMContentLoaded", () => {
            // Generate unique ID for Dataset
            const datasetIdField = document.getElementById("dataset_id");
            datasetIdField.value = `DS-${Math.random().toString(36).substr(2, 9).toUpperCase()}`;

            // Toggle fields based on Add Dataset radio button
            const addDatasetYes = document.getElementById("addDatasetYes");
            const addDatasetNo = document.getElementById("addDatasetNo");
            const ipField = document.getElementById("dataset_url");
            const pathField = document.getElementById("dataset_path");

            function toggleFields() {
                const isYesSelected = addDatasetYes.checked;
                ipField.disabled = !isYesSelected;
                pathField.disabled = !isYesSelected;
                if (!isYesSelected) {
                    ipField.value = "";
                    pathField.value = "";
                }
            }

            addDatasetYes.addEventListener("change", toggleFields);
            addDatasetNo.addEventListener("change", toggleFields);
            toggleFields();

            // Handle Register Button
            document.getElementById("registerButton").addEventListener("click", async () => {
                const addDataset = document.querySelector('input[name="addDataset"]:checked').value;

                // Collect form data
                const dataset = {
                    id: datasetIdField.value,
                    name: document.getElementById("dataset_name").value,
                    date: document.getElementById("dataset_date").value,
                    type: document.getElementById("dataset_type").value,
                    url: ipField.value || "",
                    path: pathField.value || "",
                    username: document.getElementById("dataset_username").value,
                    password: document.getElementById("dataset_password").value,
                    add_dataset: addDataset,
                    metadata: {}
                };

                // Collect metadata
                const metadataTable = document.querySelector("#metadataTable tbody");
                metadataTable.querySelectorAll("tr").forEach((row) => {
                    const name = row.querySelector("td:nth-child(1) input").value.trim();
                    const value = row.querySelector("td:nth-child(2) input").value.trim();
                    if (name && value) {
                        dataset.metadata[name] = value;
                    }
                });

                try {
                    const response = await fetch("/dataset_catalog/", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(dataset),
                    });

                    if (response.ok) {
                        alert("Dataset registered successfully.");
                    } else {
                        alert("Error registering dataset. Please try again.");
                    }
                } catch (error) {
                    console.error("Error:", error);
                    alert("An unexpected error occurred. Please try again.");
                }
            });
        });
    </script>
</body>
</html>
